body {
    margin: 0;
    background: #1F2937;
    font-family: Besley, serif;
  }

.header {
    background: #1F2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 8px 400px;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
  }

  .hero {
    background: #1F2937;
    color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0px 400px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
  }

  .header-text {
    font-size: 48px;
    font-weight: bold;
  }

  .text-button {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 450px;
  }

  .text-button .text {
    font-size: 18px;
  }

  button.sign-up {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin-top: 8px;
    padding: 3px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
  }

  .placeholder {
    background-color: grey;
    width: 500px;
    height: auto; /* Set height to auto to adjust dynamically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .information {
    padding-top: 20px;
    padding-left: 380px;
    padding-right: 380px;
    padding-bottom: 100px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .header2 {
    background-color: white;
    color: black;
    font-size: 36px;
    font-weight: 900;
    margin: auto;
  }

  .big-container {
    margin: 0px 140px;
    display: flex;
    justify-content: space-between;
  }

  .card {
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 16px;
    margin: 8px;
    width: 125px;
    height: 125px;
  }

  .container .text {
    width: 180px;
    text-align: center;
    margin-top: 0px;
  }

  .quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 500px;
  }

  .quote p {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: lighter;
  }

  .quote .text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-right: 80px;
  }

  .action {
    background: white;
    padding: 80px 400px;
  }

  .action .container2 {
    display: flex;
    justify-content: space-between;
    background: royalblue;
    color: white;
    padding: 60px 120px;
    border: 1px solid royalblue;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .container2 .text {
    font-size: 20px;
    font-weight: bold;
  }

  .container2 button {
    border: 1px solid white;
    border-radius: 8px;
    padding: 3px 30px;
  }
